/**/*.so
/**/*.o
/**/*.pdf
*.Rcheck
/**/*.Rhistory
/**/.Rhistory
*.tar.gz
/**/#*
multiStockassessment/src/A_*
multiStockassessment/src/M_*
multiStockassessment/src/MSAM.h
multiStockassessment/src/SAM.h
multiStockassessment/autom4te.cache
multiStockassessment/config.log
multiStockassessment/config.status
multiStockassessment/src/Makevars
